<template>
  <div>
    <SidebarContainer />
    <b-container fluid class="padding-17 pr-0">
      <div class="pl-5 pt-5">
        <h2 class="mb-0">Tanasit Niyomsat</h2>

        <div class="pl-2 pr-5">
          <p class="text-muted">Full Stack Engineer</p>
          <h5 class="mt-5">About me</h5>
          <p><small>My name is Tanasit (Ton). I’m always like to learn new things and am eager to pick up new skills. I have a working knowledge front end development, building and managing websites, design for user experience, responsive design, native mobile application. I deals with different difficulty levels in the same extremely professional way and great approach.</small></p>

          <hr class="content">
          <h5 class="mt-3">Work experience</h5>
          <!-- Timeline -->
          <ul class="timeline">
            <li class="event" data-date="Aug 2019 - Present">
              <h3 class="mb-0">Full Stack Engineer</h3>
              <h4 class="mb-2">Emetworks Co., Ltd.</h4>
              <ul>
                <li><small>Research and Develop e-commerce platform.</small></li>
                <li><small>Research and Develop payment gateway and paymeny reports.</small></li>
                <li><small>Developep native mobile application.</small></li>
              </ul>
            </li>
            <li class="event" data-date="Jun 2018 - Mar 2019">
              <h3 class="mb-0">Programmer</h3>
              <h4 class="mb-2">Ogilvy</h4>
              <ul>
                <li><small>Created campaign website for the client.</small></li>
                <li><small>Research and develop for the company project using Python, Angular and Google Cloud Platform.</small></li>
                <li><small>Work as a part of technical team.</small></li>
              </ul>
            </li>
            <li class="event" data-date="Apr 2016 - Jul 2018">
              <h3 class="mb-0">Frontend Developer</h3>
              <h4 class="mb-2">Nexsource</h4>
              <ul>
                <li><small>Created and maintained the hybrid mobile application using Ionic Framework.</small></li>
                <li><small>Developed templates on top of C# using Razor templating engine and jquery library.</small></li>
                <li><small>Provide leadership and technical direction for multidisciplinary teams.</small></li>
                <li><small>Accumulate market know-how, industry and technology trends, to enhance and manage knowledge on projects.</small></li>
                <li><small>Collaborating with leads to explore existing systems.</small></li>
                <li><small>Communicating continually with the client and project teams, Explaining progress on the development effort.</small></li>
              </ul>
            </li>
            <li class="event" data-date="Aug 2015 - Mar 2016">
              <h3 class="mb-0">Software Engineer</h3>
              <h4 class="mb-2">Blisby</h4>
              <ul>
                <li><small>Created custom backend API for mobile application.</small></li>
                <li><small>Developed and maintained company’s website.</small></li>
                <li><small>Optimized pages for page speed and mobile friendly.</small></li>
              </ul>
            </li>
            <li class="event" data-date="Jan 2014 - Jul 2015">
              <h3 class="mb-0">Web Developer</h3>
              <h4 class="mb-2">Global Asset Asia</h4>
              <ul>
                <li><small>Created and maintained membership website using Wordpress and social API.</small></li>
                <li><small>Re-design company’s websites.</small></li>
              </ul>
            </li>
            <li class="event" data-date="Aug 2012 - Dec 2013">
              <h3 class="mb-0">Web Programmer / Graphic Designer</h3>
              <h4 class="mb-2">Exzy</h4>
              <ul>
                <li><small>Developed UI/UX assets for mobile application.</small></li>
                <li><small>Developed and designed websites for company clients.</small></li>
              </ul>
            </li>
          </ul>
          <!-- /timeline -->

          <hr class="content">
          <h5 class="mt-3">Education</h5>
          <ul class="timeline no-line">
            <li class="event" data-date="2017 - 2012">
              <h3 class="mb-0">Bachelor of Sciences</h3>
              <h4 class="mb-2">Silpakorn University</h4>
              <ul>
                <li><small>Information and Communication Technology
(IT for Design)</small></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </b-container>
  </div>
</template>
<script>
import SidebarContainer from '@/views/sidebar/Container'

export default {
  name: 'About',
  components: {
    SidebarContainer
  }
}
</script>

<style lang="scss">
$timeline-dot: #1A1B1D;
$border-color: #C8D1DD;

$color-light: #828B99;
$spacing: 20px;
$radius: 4px;

$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 2.5px;

hr.content {
  border-top: .5px solid $border-color;
}

.padding-17 {
  padding-left: 272px;
  min-height: 100vh;
}

.timeline {
  border-left: $line solid $border-color;
  margin: $spacing 15px $spacing auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4rem;
  font-size: 1.03rem;
  padding: 0 0 0 $spacing;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 70%;

  &.no-line {
    border-left: 2.5px solid transparent;
  }

  h3 {
    position: relative;
    top: -4px;
    font-size: 1rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  .event {
    padding-bottom: ($spacing * 0.5);
    margin-bottom: $spacing;
    position: relative;

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    &:before, &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:before {
      left: ((($date * 0.6) + $spacing + $line + $dot + ($dotborder * 2)) * 1.5) * -1;
      top: -4px;
      color: $color-light;
      content: attr(data-date);
      text-align: right;
      font-weight: 100;
      font-size: 0.8rem;
      min-width: $date;
    }

    &:after {
      left: ($spacing + $line + ($dot * 0.39)) * -1;
      background: $timeline-dot;
      border-radius: 50%;
      height: $dot;
      width: $dot;
      content: "";
    }
  }
}

</style>
