<template>
  <div>
    <b-container class="mt-5">
      <h1>Find X, Y, Z value</h1>
      <p>
        X, Y, 5, 9, 15, 23, Z
      </p>

      <h4 class="mt-3">Answer: </h4>
      <div>
        <p>X value = {{ answer.X }}</p>
        <p>Y value = {{ answer.Y }}</p>
        <p>Z value = {{ answer.Z }}</p>
      </div>
    </b-container>
  </div>
</template>

<script>

import axios from 'axios'
export default {
  name: 'FindValue',
  data () {
    return {
      question: '',
      answer: {}
    }
  },
  created () {
    this.getAnswer()
  },
  methods: {
    getAnswer () {
      var vm = this
      axios.post('https://antonicx.herokuapp.com/math/findnumber', {
        qa: '["X", "Y",  5, 9, 15, 23, "Z"]'
      })
        .then(function (response) {
          vm.answer = response.data
        })
        .catch(function (error) {
          vm.answer = 'Error! Could not reach the API. ' + error
        })
    }
  }
}
</script>
