<template>
  <div>
    <b-container class="mt-5">
      <h1>Find value of B and C</h1>
      <p>
        If A=21, A+B=23, A+C=-21
      </p>

      <h4>Input A value</h4>
      <b-row>
        <b-col cols="5">
          <b-input-group class="mt-3">
            <b-form-input @keyup.enter="getAnswer" v-model="question"></b-form-input>
            <b-input-group-append>
              <b-button variant="outline-success" @click="getAnswer">Enter</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>

      <h4 class="mt-3">Answer: </h4>
      <div>
        <p>value B = {{ answer.valueB }}</p>
        <p>value C = {{ answer.valueC }}</p>
      </div>
    </b-container>
  </div>
</template>

<script>

import axios from 'axios'
export default {
  name: 'FindValue',
  data () {
    return {
      question: 21,
      answer: {}
    }
  },
  created () {
    this.getAnswer()
  },
  methods: {
    getAnswer () {
      if (!this.question) {
        this.answer = 'Please enter A value'
        return
      }

      var vm = this
      axios.get(`https://antonicx.herokuapp.com/math/findvalue/${vm.question}`)
        .then(function (response) {
          vm.answer = response.data
        })
        .catch(function (error) {
          vm.answer = 'Error! Could not reach the API. ' + error
        })
    }
  }
}
</script>
